/*Иконки в характеристиках магазина*/
@font-face {
  font-family: 'icomoon';
  		src:  url('../fonts/icomoon.eot?amm59n');
  		src:  url('../fonts/icomoon.eot?amm59n#iefix') format('embedded-opentype'),
    	url('../iconmoon1/fonts/icomoon.ttf') format('truetype'),
    	url('../iconmoon1/fonts/icomoon.woff') format('woff'),
    	url('../iconmoon1/fonts/icomoon.svg') format('svg');
}
.icon-cart:before {
  content: "\e93a";
}
.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-location2:before {
  content: "\e948";
}
.icon-mobile:before {
  content: "\e958";
}
.icon-wrench:before {
  content: "\e991";
}
.icon-briefcase:before {
  content: "\e9ae";
}
.icon-clipboard:before {
  content: "\e9b8";
}
.icon-info:before {
  content: "\ea0c";
}

html{
	height: 100%;
}
body{
	display: flex;
	flex-direction: column;
	height: 100%;
	font-family: sans-serif;
	margin: 0;
}
h3{
	margin: 0;
}
a{
	text-decoration: none;
	color: #e94200;
}
/*Иконки в характеристиках магазина*/
.icon__location{
	background-image: url(../icons-svg/svg/001-pin.svg);
	background-size: 23px;
	background-repeat: no-repeat;
}
.icon__money{
	background-image: url(../icons-svg/svg/002-money.svg);
	background-size: 25px;
	background-position: 0px -3px;
	background-repeat: no-repeat;
}
.icon__plan{
	background-image: url(../icons-svg/svg/003-plans.svg);
	background-size: 23px;
}
.icon__filter{
	background-image: url(../icons-svg/svg/004-filter.svg);
	background-size: 23px;
}
.icon__assets{
	background-image: url(../icons-svg/svg/001-carton-box.svg);
	background-size: 23px;
}
.icon-dot{
	background-image: url(../icons-svg/svg/circle.svg);
	list-style-type: none;
	background-repeat: no-repeat;
	background-size: 13px;
	background-position: 0 0;
}
.icon-check-list{
	background-image: url(../icons-svg/svg/check-mark.svg);
	list-style-type: none;
	background-repeat: no-repeat;
	background-size: 19px;
	background-position: -2px -2px;
}
/*Контейнер для шапки */
.conteniner{
	background-color: #f9f9f9;
}
.header{
	display: flex;
	justify-content: space-between;
	background-color: #f9f9f9;
	min-height: 109px;
	max-width: 1300px;
	margin: 0 auto;
}
.header__logo {
	display: flex;
}
.header__logo img{
	padding: 5px;
	width: 300px;
	height: 100%;
}
/*Подпись в шапке*/
.header__text{
	line-height: 7px;
	margin-right: 30px;
	text-transform: uppercase;
	text-align: left;
	min-width: 180px;
}
/*Кнопка заказать звонок*/
.button{
	text-align: center; 
}
.button-header{
	margin: 10px;
	position: relative;
}
.button{
	color: #e94200;
	text-decoration: none;
	border-radius: 5px;
	border: solid 1px #e94200;
	background-color: #fdf2ed;
	padding: 10px;
	display: block;
	transition: 0.2s;
}
.button:hover{
	background-color: #ffe0d1;
	box-shadow: 3px 3px 5px;
	transition: 0.2s;
}
.button:active{
	box-shadow: inset 2px 2px 5px;
}
/*Контакты в шапке*/
.header__contacts{
	display: flex;
	align-items: center;
}
.header__text-contacts{
	font-size: 20px;
	margin: 5px 0 5px 0;
	text-align: center;
	text-transform: uppercase;
}
.header__phone{
	font-size: 30px;
	margin-left: 10px;
	padding-left: 15px;
	border-left: 2px solid orange;
}
.header__phone a{
	text-decoration: none;
	color: #f06969;
}
.header__phone a:after{
	content: "\e958";
	font-family: "icomoon";
}
.header__mail{
	font-size: 19px;
	padding-right: 10px;
}
.header__mail a{
	text-decoration: none;
	color: #c7a9a9;
	word-spacing: 5px;
}
.header__mail a:before{
	content: "\e945";
	font-size: 25px;
	font-family: "icomoon";
	letter-spacing: 10px;
}
/*Меню*/
.menu{
	padding: 5px;
	height: 55px;	
	position: sticky;
	top: 0;
	background-color: rgba(249, 249, 249, 0.88);
	z-index: 1001;
}
.menu-row{
	max-width: 1300px;
	text-align: center;
	padding: 6px 0 0 0;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.menu__items{
	display: inline-block;
	height: 34px;
}
.menu__items a{
	font-family: icomoon, sans-serif;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
	padding-top: 10px;
	height: 100%;
	color: black;
}
.menu__items a:hover{
	transition: 0.1s;
	color: #f06969;
}
/*Выпадающий список*/
.dropdown{
	width: 250px;
	position: absolute;
	top: 42px;
	left: -65px;
	visibility: hidden;
	background-color: rgba(249, 249, 249, 0.92);
	box-shadow: 0 0 3px;
	z-index: 1000;
}
.dropdown-visible{
	visibility: visible;	
}
.dropdown li, ul{
	list-style: none;
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
}
.dropdown-button{
	position: relative;	
}
.dropdown-button:hover .dropdown{
	/* visibility: visible; */
}

/*Меню бургер*/
.menu-burger{
	display: none;
}
.menu-burger-button{
	text-align: center;
	padding: 0;
}
.menu-burger{
	background-color: #f9f9f9;
}
.menu-burger-button a{
	color: black;
	font-size: 20px;
}
/*Слайдер главный*/
.slider-shop{
	background-image: url(../img/bcg4.jpg);
	background-size: cover;
	flex-shrink: 0;
	height: 428px;
}
/*Заголовок главной страницы*/
.heading-main h1{
	font-family: "Roboto";
	text-align: center;
	text-transform: uppercase;
	font-size: 57px;
	margin: 10px 0 10px 0;
	background-image: url(../img/lines-blue.png);
}
/*Контейнер с магазинами*/
.conteiner-shops{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	font-family: "Roboto";
}
.conteiner-shops:nth-of-type(3){
	margin-bottom: 40px;
}

/*Блок с магазином на главной странице*/
.shop{
	background-color: white;
	max-width: 400px;
	padding: 5px;
	text-align: center;
	margin: 20px 5px;
	display: flex;
	visibility: hidden;
	opacity: 0;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 0px 0px 4px #000000;
	box-sizing: border-box;
	flex: 1 1 32%;
	transition: 1s opacity, 1s transition;
	border-radius: 5px;
}
.shop-visible{
	visibility: visible;
	opacity: 1;	
}
.shop__image a{
	display: block;
	position: relative;	
}
.shop__image a:hover .show-price{
	opacity: 1;
}
.show-price{
	width: 100%;
	height: 20%;
	position: absolute;
	opacity: 0;
	bottom: 3px;
	transition: 0.3s;
	background: linear-gradient(0deg,rgba(0,0,0,.8),transparent);
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.show-price p{
	color: white;
	font-size: 20px;
	text-align: right;
	padding-right: 10px;
}
.show-price p:before{
	content: " ";
	background-image: url(../icons-svg/wallet.svg);
	width: 30px;
	height: 30px;
	display: inline-block;
	background-size: contain;
	background-repeat: no-repeat;
	vertical-align: text-bottom;
	margin-right: 10px;
}
.shop ul{
	text-align: left;
}
.shop__container p,
.shop__container-footer p{
	margin: 0;
	padding: 0 0 5px 30px;
	font-weight: bold;
	background-repeat: no-repeat;
}
.shop__title{
	background-color: white;
	padding: 10px 0 10px 0;
	margin-bottom: 5px;
}
.shop__title p{
	margin-bottom: 0;
}
.shop__image a img{
	width: 100%;
	max-height: 520px;
}
/*Форма заявки на покупку магазина*/
.conteiner__open-shop{
	background-image: url(../img/lines-blue.png);
	height: 400px;
	margin-bottom: 50px;
}
input{
	outline: none;
}
.open-shop_form{
	display: flex;
	flex-direction: column;
}
.conteiner__open-shop .open-shop_form h2{
	font-size: 40px;
}
.open-shop_form .submit-button{
	width: 400px;
	height: 50px;
	margin: 60px auto;
	color: #e94200;
	border-radius: 5px;
	border: solid 1px #e94200;
	background-color: #fdf2ed;
	padding: 10px;
	display: block;
	transition: 0.2s;
	outline: none;
	font-size: 20px;
}
.open-shop_form .submit-button:hover{
	background-color: #ffe0d1;
	box-shadow: 3px 3px 5px;
	transition: 0.2s;
}
.open-shop_form .submit-button:active{
	box-shadow: inset 2px 2px 5px;
}

.open-shop__inputs{
	display: flex;
	justify-content: space-around;
	margin: 30px 10px;
}
.open-shop__inputs input{
	width: 300px;
	height: 40px;
	font-size: 17px;
	padding: 15px;
}
/*Ограничивающий контейнер по ширине*/
.content{
	flex: 1 0 auto;
	max-width: 1300px;
	width: 100%;
	margin: 0 auto;
	padding: 0;
}
/*Главный контейнер со всей информацией*/
.wrapper{
	padding: 10px;
}
/*Блок с фотогалереей с конкретном магазине*/
.photo-gallery{
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	justify-content: space-between;
	text-align: center;
	box-shadow: 0 0 6px;
	max-width: 410px;
}
.photo-gallery__row{
	display: flex;
}
.photo-gallery__row img{
	width: 100%;
	height: 100%;
}
.photo-gallery__row a{
	margin: 3px;
}
.shop__img a img{
	max-width: 410px;
}
.photo-gallery p{
	background-color: #f06969;
	margin: 0;
	padding: 16px 0;
	color: white;
}
.shop__body{
	display: flex;
}
.shop__content{
	display: flex;
	flex-wrap: wrap;
}
.shop__container{
	padding: 35px 15px 15px 15px;
	background-color: white;
	margin: 0 0 10px 10px;
	flex: 1 1 45%;
	box-shadow: 0px 0px 4px #000000;
}
/*Контейнер с характеристиками магазина*/
.shop-property{
	margin-top: 10px;
	padding-left: 20px;
}
.shop-property li{
	padding: 0 0 10px 20px;
	font-family: "Roboto"
}
.icon-dot span{
	color: #929292;
}
.shop__container-footer{
	padding: 25px;
	background-color: white;
	box-shadow: 0px 0px 4px #000000;
}
.shop__container-footer span{
	color: #929292;
}
li{
	padding-bottom: 10px;
}
/*Контейнер со стоимостью магазина*/
.price{
	padding: 10px;
	background-color: #f06969;
	color: white;
	text-align: right;
	box-shadow: 0px 0px 4px #000000;
}
/*Подвал*/
.footer{
	flex-shrink: 0;
	background-color: #454a8e;
	position: relative;
	font-family: "Open sans", sans-serif
}
.footer__title{
	line-height: 25px;
	text-transform: uppercase;
}
.copyright{
	position: absolute;
	left: 5px;
	bottom: 5px;
}
.footer__container{
	max-width: 400px;	
	margin: 5px;
}
.footer__content{
	max-width: 1300px;
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
}
.footer__container p{
	margin-top: 0;
}
.footer__shops{
	padding: 0;
}
.footer a{
	color: white;
	transition: 0.3s;
}
.footer a:hover{
	color: #f06969;
}
.footer li{
	list-style: none;
	padding-left: 30px;
}
.footer p{
	color: white;
}

/*Страница контактов*/
.title-contacts{
	padding: 10px;
	color: #969696;
	font-family: "Open sans", sans-serif;
}
/*Подпись в шапке на странице Контакты*/
.wrapper h2{
	font-size: 30px;
	font-family: "Roboto";
	margin: 0;
	text-align: center;
	color: #f06969;
	padding: 10px;
	margin: 30px 0;
}
.contacts-container{
	display: flex;
}
.contacts{
	flex: 1 1 40%;
	margin: 0 15px;
	font-family: "Open sans", sans-serif;
}
.contacts h3{
	text-align: center;
}
.contacts p:nth-of-type(odd){
	font-weight: bold;
}
.contacts p span{
	font-family: icomoon, sans-serif;
}
/*Форма на странице контактов*/
.form{
	display: flex;
	flex-direction: column;
	background-color: #f5f5f5;
	padding: 10px;
}
.form label{
	margin: 10px 0;
}
input{
	height: 25px;
	border: solid 1px #e6e6e6;
	border-left-width: 3px;
}
.submit-button{
	cursor: pointer;
	transition: 0.3s;
	font-size: 15px;
}
.submit-button:hover{
	box-shadow: 0 0 4px;
}
textarea{
	height: 80px;
	resize: none;
	border: solid 1px #e6e6e6;
	border-left-width: 3px;
	margin-bottom: 10px;
}
label:after{
	content: "*";
	color: red;
}
/*Карта*/
.map{
	flex: 1 1 60%;
}
/* Страница О компании */
.conteiner-about{
	display: flex;
	flex-direction: column;
	box-shadow: 0 0 4px black;
	margin: 20px;
}
.conteiner-about:nth-of-type(2){
	font-style: italic;
	box-shadow: none;
	border-left: 6px solid #f06969;
}
.conteiner-about p{
	margin: 20px;
	line-height: 32px;
	letter-spacing: .7px;
	padding: 10px;
}
.conteiner-about img{
	padding: 40px;
}
.conteiner-about2{
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 4px black;
	margin-bottom: 20px;
}
/*Преимущества*/
.main-attaiment{
	display: flex;
	justify-content: space-around;
	margin: 30px 0;
}
.conteiner-attaiment{
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	padding: 10px;
	line-height: 27px;

}
.conteiner-attaiment img{
	width: 95px;
}
.conteiner-attaiment p{
	font-size: 20px;
}
.bcg{
	display: flex;
	justify-content: center;
}
/*Контейнер с рамкой2*/
.conteiner-border{
	border: solid 5px #cacaca;
	margin-bottom: 30px;
	padding: 10px;
}
/*Страница Партнеры*/
.partners_conteiner a{
	display: block;
	padding: 10px;
}
.partners_conteiner{
	width: calc(25% - 20px);
	margin: 10px;
	min-width: 250px;
	flex: 1 1;
	box-shadow: 0px 0px 4px #000000;
}
.partners_conteiner img{
	max-width: 100%;
	max-height: 100%;
}
.partners{
	display: flex;
	flex-wrap: wrap;
}
/*слайдер мой*/
.slider *{
	outline: none;

}
.slider__items1{
	background-image: url(../img/slider-main/slider1.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slider__items2{
	background-image: url(../img/slider-main/collage2.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.slider__items3{
	background-image: url(../img/slider-main/collage3.jpg);
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: inherit;
}
/*Слайдер стили Слик*/

.slick-track{
	display: flex;
}
.slick-list{
	overflow: hidden;
}
/*Страница Преимущества*/
.support-conteiner{
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: flex-end;
	margin: 0 10px 50px 10px;
}
.support-conteiner h4{
	color: #f06969;
	font-size: 20px;
}
.support__title p{
	font-size: 20px;
	font-weight: bold;
}
.support__item{
	max-width: 270px;
	width: 100%;
	position: relative;
}
/*Тень под крысным квадратом*/
.support__item:after{
	content: "";
	width: 270px;
	height: 30px;
	background: radial-gradient(ellipse, rgba(246,132,132,1) 0%, rgba(250,142,142,1) 16%, rgba(255,255,255,0) 50%);
	position: absolute;
	left: 0;
}
.support__item:hover:after{
	background: radial-gradient(ellipse, rgba(240,105,105,1) 0%, rgba(255,255,255,0) 64%);
}
/*Иконки на красных квадратах меняют опасити*/
.support__item:hover .red-circle1:after,
.support__item:hover .red-circle2:after,
.support__item:hover .red-circle3:after,
.support__item:hover .red-circle4:after{
	opacity: 1;
	transform: translateY(-7px);
}
.support__item:hover .red-circle1,
.support__item:hover .red-circle2,
.support__item:hover .red-circle3,
.support__item:hover .red-circle4{
	transform: translateY(-5px);
}
.red-circle1{
	height: 150px;
	background: linear-gradient(17deg, rgba(254,50,50,1) 8%, rgba(240,105,105,1) 60%, rgba(255,180,180,1) 100%);
	
	position: relative;
	transition: 0.3s;
}
.red-circle1:after{
	content: " ";
	width: 60px;
	height: 60px;
	background-image: url(../icons-svg/icons-support/not.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0.5;
	left: 20px;
	bottom: 20px;
	transition: 0.3s;
}
.red-circle2{
	height: 190px;
	background: linear-gradient(17deg, rgba(254,50,50,1) 8%, rgba(240,105,105,1) 60%, rgba(255,180,180,1) 100%);
	position: relative;
	transition: 0.3s;
}
.red-circle2:after{
	content: " ";
	width: 80px;
	height: 80px;
	background-image: url(../icons-svg/icons-support/save-money.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0.5;
	left: 20px;
	bottom: 20px;
	transition: 0.3s;
}
.red-circle3{
	height: 230px;
	background: linear-gradient(17deg, rgba(254,50,50,1) 8%, rgba(240,105,105,1) 60%, rgba(255,180,180,1) 100%);
	position: relative;
	transition: 0.3s;
}
.red-circle3:after{
	content: " ";
	width: 70px;
	height: 70px;
	background-image: url(../icons-svg/icons-support/money.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0.5;
	left: 20px;
	bottom: 20px;
	transition: 0.3s;
}
.red-circle4{
	height: 270px;
	background: linear-gradient(17deg, rgba(254,50,50,1) 8%, rgba(240,105,105,1) 60%, rgba(255,180,180,1) 100%);
	position: relative;
	transition: 0.3s;
}
.red-circle4:after{
	content: " ";
	width: 70px;
	height: 70px;
	background-image: url(../icons-svg/icons-support/refresh.png);
	background-size: contain;
	background-repeat: no-repeat;
	position: absolute;
	opacity: 0.5;
	left: 20px;
	bottom: 20px;
	transition: 0.3s;
}
/*Модальное окно заказать звонок*/
.box-modal{
	position: relative;
    padding: 16px;
    background: #fff;
    color: #3c3c3c;
    font: 14px/18px Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;
    box-shadow: 0 0 0 6px rgba(153, 153, 153, .3);
    border-radius: 6px;
}
.shop-visible{
	visibility: visible;
	opacity: 1;	
}
.box-modal form{
	font-size: 20px;
    font-family: "Roboto";
    margin: 0;
    text-align: center;
    color: #f06969;
}
.box-modal form .open-shop__inputs{
	display: flex;
	flex-direction: column;
}
.box-modal .submit-button{
	font-size: 20px;
	width: 110px;
	height: 50px;
	margin: 0 auto;
}

/*Адаптив*/
@media (max-width: 1252px){
	.header__mail{
		display: none;
	}
	.header{
		justify-content: center;
	}
}
@media (max-width: 960px){
	.header__text-contacts{
		font-size: 15px;
		text-align: center;
	}
	.header__phone{
		font-size: 19px;
		text-align: center;
	}
	.header__text{
		margin: 0 0 0 10px;
	}
	.shop ul{
		font-size: 14px;
	}
	.shop__title p{
		font-size: 15px;
	}
	.shop__title{
		font-size: 14px;
	}
}
@media (max-width: 860px){
	.menu{
		height: 80px;
	}
	.menu__items{
		height: 100%;
	}
	.header__logo img{
		width: 100%;
	}
	.header__text{
		margin: 0 0 0 10px;
		font-size: 15px;
	}
	.dropdown{
		top: 57px;
	}
}
@media (max-width: 857px){
	.header__phone{
		font-size: 15px;
	}
}
@media (max-width: 800px){
	.open-shop__inputs{
		flex-direction: column;
		align-items: center;
		margin: 0;
	}
	.conteiner__open-shop .open-shop_form h2{
		margin: 0;
	}
	.open-shop_form .submit-button{
		margin: 10px auto;
		width: auto;
	}
	.open-shop__inputs input{
		margin-bottom: 10px;
	}
}
@media (max-width: 768px){
	.conteiner-shops{
		flex-wrap: wrap;
	}
}
@media (max-width: 675px){
	.header{
		flex-direction: column;
	}
	.header__logo{
		justify-content: space-around;
	}
	.header__contacts{
		justify-content: space-around;
	}
	.header__text{
		display: none;
	}
	.header__mail{
		display: block;
	}
	.header__mail a{
		font-size: 16px;
		padding-left: 10px;
	}
	.header__mail a:before{
		font-size: 18px;
	}
}
@media (max-width: 650px){
	.menu-row{
		display: none;
	}
	.menu-burger{
		display: flex;
	    flex-direction: column;
	    align-items: center;
	}
	.conteiner-attaiment p{
		font-size: 15px;
		line-height: normal;
	}
	.conteiner-attaiment img{
		width: 50%;
	}
}
@media (max-width: 550px){
	.header__contacts{
		flex-direction: column;
	}
	.header__mail a{
		font-size: 24px;
	}
	.header__phone a{
		font-size: 25px;
	}
	.header__mail{
		margin-bottom: 10px;
		padding: 0 0 17px 0;
		border-bottom: 1px solid orange;
	}
	.header__phone{
		border: none;
		padding: 0;	
	}
}
@media (max-width: 500px){
	.main-attaiment{
		flex-direction: column;
	}
	.conteiner-attaiment img{
		width: 30%;
	}
}
@media (max-width: 580px){
	.shop{
		flex: 1 1 32%;
	}

}
@media (max-width: 450px){
	.shop{
		flex: 1 1 auto;
	}
	.slider__items1{
		height: 200px;
	}
	.slider__items2{
		height: 200px;
	}
	.slider__items3{
		height: 200px;
	}
}





